<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maad.bankticket">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NearestBranch"
            android:label="@string/neareastbranch" />
        <activity
            android:name=".Ticket"
            android:label="Ticket" />
        <activity
            android:name=".TakeTurn"
            android:label="Take Turn" />
        <activity
            android:name=".Splash"
            android:label="Home" />
        <activity
            android:name=".Language"
            android:label="@string/selectlang" />
        <activity android:name=".ForgetPassword" />
        <activity
            android:name=".SignUp"
            android:label="@string/signup" />
        <activity
            android:name=".Login"
            android:label="@string/login" />
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>